<div class="container">
  <div class="row my-0 mx-auto">
    <div class="col-10">
      <form class="m-3" [formGroup]="form">
        <div class="my-3 p-3">
          <div>
            Osobne udaje:
          </div>
          <div class="form-group row my-3">
            <div class="col-2">
              <label for="name">Meno</label>
            </div>
            <div class="col-10">
              <input
                class="form-control"
                type="text"
                id="name"
                formControlName="name">
            </div>
          </div>

          <div class="form-group row my-3">
            <div class="col-2">
              <label for="email">Email</label>
            </div>
            <div class="col-10">
              <input
                class="form-control"
                type="text"
                id="email"
                formControlName="email"
              />
            </div>
          </div>

          <div class="form-group row my-3">
            <div class="col-2">
              <label for="phone">Telefon</label>
            </div>
            <div class="col-10">
              <input
                class="form-control"
                type="tel"
                id="phone"
                formControlName="phone"
              />
            </div>
          </div>
        </div>

        <div class="my-3 p-3">
          <div class="form-group">
            <label for="description">Spusob dodani</label>
            <app-delivery formControlName="delivery" id=description></app-delivery>
          </div>
        </div>

        <div class="my-3 p-3">
          <div class="form-group">
            <label for="payment">Spusob platby</label>
            <app-payment formControlName="payment" id=payment></app-payment>
          </div>
        </div>

        <div class="form-group">
          <button type="button"
                  class="btn btn-primary float-end"
                  (click)="onSubmit()"
                  [disabled]="!form.valid">
            Finnish
          </button>
        </div>
      </form>
    </div>

    <div class="col-sm-2">
      <div class="my-3 px-3 py-5 text-center">
        <div>
          Konecna suma: {{total}}
        </div>
      </div>
    </div>
  </div>
</div>



