<div class="container">
  <div class="row">
    <form [formGroup]="form">
      <div class="form-group row p-3">
        <label class="col-2 col-form-label" for="bottleName">Meno</label>
        <div class="col-10">
          <input
            class="form-control"
            type="text"
            id="bottleName"
            formControlName="bottleName">
        </div>
      </div>

      <div class="form-group row p-3">
        <label class="col-2 col-form-label" for="description">Popis</label>
        <div class="col-10">
          <textarea
            class="form-control"
            type="text"
            id="description"
            formControlName="description"
          ></textarea>
        </div>
      </div>

      <div class="form-group row p-3">
        <label class="col-2 col-form-label" for="price">Cena</label>
        <div class="col-10">
          <input
            class="form-control"
            type="number"
            id="price"
            formControlName="price"
          >
        </div>
      </div>

      <div class="form-group row p-3">
        <label class="col-2 col-form-label" for="imagePath">Obrazok</label>
        <div class="col-10">
          <input
            class="form-control"
            type="text"
            id="imagePath"
            formControlName="imagePath">
        </div>
      </div>

      <div class="form-group row p-3">
        <div class="col-12">
          <button type="button" class="btn btn-primary float-end" (click)="onSubmit()">
            {{editMode ? 'Save' : 'Create'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

