<div class="overlay h-100 d-flex justify-content-center align-items-center" *ngIf="loading; else shoppingCartElement">
      <div class="spinner-border" role="status">
    </div>
</div>
<ng-template #shoppingCartElement>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="bottlesForm">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Product</th>
              <th>Quantity</th>
              <th class="text-center">Price</th>
              <th class="text-center">Total</th>
              <th> </th>
            </tr>
            </thead>
            <tbody>
            <ng-container formArrayName="bottleFormArray">
              <ng-container *ngFor="let shoppingItem of shoppingListService.shoppingList, let i = index">
                <ng-container [formGroupName]="i">
                  <tr>
                    <td>
                      <div class="media">
                        <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                                                      [src]="shoppingItem.bottle.imagePath"
                                                                      style="width: 72px; height: 72px;"> </a>
                        <div class="media-body">
                          <h4>{{shoppingItem.bottle.bottleName}}</h4>
                        </div>
                      </div>
                    </td>
                    <td style="text-align: center">
                      <div class="row justify-content-center">
                        <div class="col-6">
                      <input type="number"
                             class="form-control"
                             id="amount"
                             formControlName="amount">
                        </div>
                      </div>
                    </td>
                    <td class="text-center"><strong>{{shoppingItem.bottle.price}}Kč</strong></td>
                    <td class="text-center">
                      <strong>{{shoppingItem.bottle.price * shoppingItem.amount}}Kč</strong></td>
                    <td>
                      <button type="button" class="btn btn-primary" (click)="removeShoppingItem(i)">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>

            <tr>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td>
                <h3>
                  <strong>Total:</strong>
                </h3>
              <td>
                <h3>
                  <strong>{{total}} Kč</strong>
                </h3>
            </tr>
            <tr>
              <td>  </td>
              <td>  </td>
              <td>  </td>
              <td>
                <button type="button" class="btn btn-primary">
                  <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-success" [disabled] ='!bottlesForm.valid' (click)="toCheckout()">
                  Checkout <span class="glyphicon glyphicon-play"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </form>
      </div>
    </div>
  </div>
</ng-template>

